<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs4400.service_backend.mapper.AccountMapper">
    <select id="getAllAccounts" resultType="com.cs4400.service_backend.entity.Account">
        select Email,
               First_Name,
               Last_Name,
               Pass,
               exists(select * from admins where admins.Email = accounts.Email) as admin
        from accounts;
    </select>

    <select id="check_cc_number_exists" resultType="String">
            select CcNumber from Customer where Ccnumber = #{cc_number};
    </select>

    <select id="login" resultType="com.cs4400.service_backend.vo.LoginInfo">
        select Email,
               First_Name,
               Last_Name,
               exists(select * from admins where admins.Email = #{email}) as is_admin,
               exists(select * from clients where clients.Email = #{email}) as is_client,
               exists(select * from customer where customer.Email = #{email}) as is_customer,
               exists(select * from owners where owners.Email = #{email}) as is_owner
        from accounts
        where Email = #{email} and Pass = #{passwd};
    </select>

    <select id = "check_client_exist" resultType="com.cs4400.service_backend.entity.Client">
            select * from Clients left join Accounts on Clients.Email = Accounts.Email
            where  Clients.Email = #{email} and First_Name = #{first_name} and Last_Name = #{last_name}
                    and Pass = #{password} and Phone_Number = #{phone_number};
    </select>



    <select id = "check_account_uniqueness" resultType="Client">
            select Accounts.Email, Phone_number from Accounts left join Clients on Accounts.Email = Clients.Email
            where Accounts.Email = #{email} or Phone_number = #{phone_number};
    </select>

    <select id="check_owner_exist" resultType="com.cs4400.service_backend.entity.Owner">
        select * from Owners where Email = #{owner_email};
    </select>

    <select id="check_customer_exist" resultType="com.cs4400.service_backend.entity.Customer">
        select * from Customer where Email = #{customer_email};
    </select>

    <insert id  = "register_account">
        insert into accounts (Email, First_name, Last_name, pass) values
            (#{email}, #{first_name}, #{last_name}, #{password});
    </insert>

    <insert id="register_client">
        insert  into Clients (Email, Phone_Number) values
            (#{email}, #{phone_number});
    </insert>



    <insert id="register_owner">
        insert into Owners (Email) values (#{owner_email});
    </insert>

    <insert id="register_customer">
        insert into Customer (Email, CcNumber, Cvv, Exp_Date, Location) values
        (#{customer_email}, #{cc_number}, #{cvv}, #{exp_date}, #{location});
    </insert>




</mapper>
