<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs4400.service_backend.mapper.AccountMapper">
    <select id="getAllAccounts" resultType="com.cs4400.service_backend.entity.Account">
        select * from accounts;
    </select>

    <select id="login" resultType="com.cs4400.service_backend.entity.Account">
        select * from accounts where Email = #{email} and Pass = #{passwd};
    </select>
</mapper>
