<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs4400.service_backend.mapper.AirlineMapper">
   <select id="get_all_airline" resultType="com.cs4400.service_backend.entity.Airline">
       select * from airline order by Airline_Name;
   </select>
</mapper>
