<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs4400.service_backend.mapper.FlightMapper">
    <select id="schedule_flight" resultType = "com.cs4400.service_backend.entity.Flight">
        if (#{flight_num}, #{airline_name}) in  not in (select Flight_Num, Airline_Name from Flight) and
		i_from_airport != i_to_airport and i_flight_date > i_current_date
    </select>
</mapper>